
body{
    background-color: rgb(48, 48, 48);
}

.header{
    position:fixed;
    top: 0px;
    margin-left: -10px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    overflow-y: hidden;
    z-index: 1;
}

.innerHeader{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: black;
}

.center-screen {
    position: absolute;
    top: 60px;
    left: 50%;
    width: 50%;
    margin-right: -50%;
    padding-left: 20px;
    padding-right: 20px;
    transform: translate(-50%);
    background-color: rgb(245, 133, 68);
    border-style: solid;
    border-color: rgb(194, 104, 51);
    z-index: 0;
  }

.episodeTemplate{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    border-style: solid;
    border-color: indianred;
    background-color: ivory;
    border-width: medium;
    margin-top: 20px;
    margin-bottom: 20px;
}

.showInfoContainer{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(104, 103, 103);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.player{
    height: 50px;
    width: 450px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.upperEpisodeContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lowerEpisodeContainer{
    display: flex;
    flex-direction: column;
    width: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(53, 52, 52);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}