
body{
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}

.header{
    position:fixed;
    top: 0px;
    margin-left: -10px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    overflow-y: hidden;
    z-index: 1;
}

.blur-box {
    background-color: cadetblue;
    box-shadow: 0 0 2px 2px cadetblue;
}

.innerHeader{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: rgb(38, 41, 48);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

.center-screen {
    position:relative;
    top: 60px;
    width: fit-content;
    max-width: 50%;
    min-width: 20%;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(245, 133, 68);
    border-style: solid;
    border-color: rgb(194, 104, 51);
    border-radius: 10px;
    z-index: 0;
  }


.episodeTemplate{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    border-style: solid;
    border-color: indianred;
    border-radius: 25px;
    background-color: ivory;
    border-width: medium;
    margin-top: 20px;
    margin-bottom: 20px;
}

.showInfoContainer{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(104, 103, 103);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.player{
    width: 500px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.upperEpisodeContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lowerEpisodeContainer{
    display: flex;
    flex-direction: column;
    width: 88%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(53, 52, 52);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.sidebar{
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0;
    top: 60px;
    width: fit-content;
    max-width: 15%;
    min-width: fit-content;
    height: 100%;
    background-color: rgb(41, 40, 39);
    border-radius: 10px;
}

.sidebarInner{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.showSelector:hover{
    color:aqua;
    cursor: default;
}
